src/test/resources/schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
                elementFormDefault="qualified">
    <element name = "Medicins">
        <complexType>
            <all>
                <element name = "therapeutic drug"
                         type="tns:TherapeuticDrug"
                         minOccurs = "2"
                         maxOccurs="unbounded" />
                <element name = "prescriptional therapeutic drug"
                         type="tns:PrescriptionalTherapeuticDrug"
                         minOccurs="2"
                         maxOccurs="unbounded" />
                <element name = "vitamin"
                         type="tns:Vitamin"
                         minOccurs="2"
                         maxOccurs="unbounded" />
            </all>
        </complexType>
    </element>

    <complexType name="TherapeuticDrug">
        <sequence>
            <element name = "name" type="string"/>
            <element name = "pharm" type="string"/>
            <element name = "amount" type="int"/>
            <element name = "price" type="double"/>
            <element name = "dosage" type="double"/>
            <element name = "periodicity" type="int"/>
            <element name = "certificate" type="tns:Certificate"/>
            <attribure name = "medical fulfillment" use = "optional">
                <simpleType>
                    <restriction base="string">
                        <enumeration value="PILL"></enumeration>
                        <enumeration value="CAPSULE"></enumeration>
                        <enumeration value="POWDER"></enumeration>
                        <enumeration value="DROPS"></enumeration>
                    </restriction>
                </simpleType>
            </attribure>
        </sequence>
    </complexType>
    <complexType name="PrescriptionalTherapeuticDrug">

    </complexType>
    <complexType name="Vitamin">

    </complexType>
</schema>